{{ $item := .item }}
{{ $year_value := $item.Params.event_start | default $item.Date }}
{{ $year := (time $year_value).Format "2006" }}
{{ $has_attachments := partial "functions/has_attachments" $item }}

<div class="pub-list-item view-citation pub-clean-item">

  {{/* Title: no link */}}
  <div class="pub-clean-title">
    {{ $item.Title }}
  </div>

  {{/* Authors */}}
  <div class="pub-clean-authors">
    {{ partial "page_metadata_authors" $item }}
  </div>

  {{/* Publication / Venue */}}
  <div class="pub-clean-venue">
    {{ if $item.Params.publication_short }}
      {{- $item.Params.publication_short | markdownify -}}.
    {{ else if $item.Params.publication }}
      {{- $item.Params.publication | markdownify -}}.
    {{ else }}
      {{- $year -}}.
    {{ end }}
  </div>

  {{/* Attachment Links: PDF, Code, Slides, Cite, etc. */}}
  {{ if $has_attachments }}
  <div class="pub-clean-links">
    {{ partial "page_links" (dict "page" $item "is_list" 1) }}
  </div>
  {{ end }}

  {{/* Summary */}}
  {{ with $item.Params.summary }}
  <div class="pub-clean-summary">
    {{ . | markdownify }}
  </div>
  {{ end }}

</div>
